@model TestLoymax.Entities.UsersDBEntities

<div  align="center">
    <h1>Clients database</h1>
    <table border="1">
        <tr bgcolor="#007062">
            <th >Surname</th>
            <th>Firstname</th>
            <th>Patronymic</th>
            <th>Date Of Birth</th>
        </tr>
        @foreach (var result in Model.ClientSets)
        {
            <tr>
                <td>@result.Surname</td>
                <td>@result.Firstname</td>
                <td>@result.Patronymic</td>
                <td>@result.DateOfBirth.ToString("dd MM yyyy")</td>
            </tr>
        }
        </table>
</div>
